.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
 
   

  background-color:rgba(0,155,255,1);
  
}
.card{
  width: 350px;
  height: 500px;
  margin-top: 5%;
  margin-bottom: 20%;
}
.card-footer{
  margin-top: 10%;
}
.page-footer{
  margin-top: 1%;
}
#con{
  margin-top: 4%;
}
.btn{
  background-color:transparent ;
}
#search{
  
  border: 1px solid black;
}
@media screen and (max-width: 1366px) {
  #con{
    margin-top: 6%;
  }
}
@media only screen and (max-width: 600px) {
  #con{
    margin-top: 20%;
  }
  .btn{
    width: 350px;
  }
}




